body {
  background: #A04458;
  color: #eeeded;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.peace-and-love {
  position: fixed;
  left: -.5rem;
  top: 2rem;
  transform: rotate(40deg);
  opacity: .25;
  font-size: 10rem;
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 1rem;
}

label {
  color
}
input {
  border: .1rem solid #eeeded;
  border-radius: .25rem;
  background: #A04458;
  color: #eeeded;
}

select {
  background: transparent;
  color: #eeeded;
  border: .05rem solid #eeeded;
}

textarea {
  background: transparent;
  color: #eeeded;
  border: .1rem solid #eeeded;
  border-radius: .25rem;
  width: 10rem;
  height: 5rem;

}

input:required {
  border: .1rem solid #4F0A34;
}

button {
  background: #eeeded;
  color: #4F0A34;
  border: 0;
  border-radius: .25rem;
}

@media (min-width: 800px) {
  body {
  width: 100%;
  }
  form {
    margin: 0 auto;
    text-align: center;
    display: block;
    content: "";
    clear: both;
    width: 60%;
  }
  ul {
  }
  ul::after {
    display: block;
    content: " ";
    clear: both;
  }
  .column {
    float: left;
    /*width: 100%;*/
  }
  button {
    display: block;
    margin: 0 auto;
  }
}
